$gradient: linear-gradient(
  58.77deg,
  #f46565 -11.26%,
  #e83e46 21.08%,
  #7a0000 117.17%
);

.container--trade {
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.container--list {
  width: 100%;
}

.container--dashboard,
mat-drawer-container {
  height: 100%;
}

.container--sidenav {
    display: grid;
    justify-items: center;
    margin-top: 10%;
}

.container--user {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 100%;
  background: $gradient;
}

.img--profile {
  height: 100px;
  width: 100px;
  background-color: #FFF;
  border-radius: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button--edit {
  background: none;
  border: 1px solid #F8F7FF;
  color: #F8F7FF;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10%;
}

.title {
  justify-self: start;
  margin-top: 30px;
}

.mat-headline-1 {
  font-weight: 700;
}

.mat-headline-2 {
  color: #FFF;
  font-weight: 600;
}

.mat-subheading-2 {
  color: #FFF;
  margin-left: 5%;
}

