$gradient: linear-gradient(
  58.77deg,
  #f46565 -11.26%,
  #e83e46 21.08%,
  #7a0000 117.17%
);

.container--trade {
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.container--list {
  width: 100%;
}

.container--dashboard,
mat-drawer-container {
  height: 90vh;
}

.container--sidenav {
    display: grid;
    justify-items: center;
    margin-top: 10%;
}

.container--user {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 100%;
  background: $gradient;
}

.img--profile {
  height: 100px;
  width: 100px;
  background-color: #FFF;
  border-radius: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  object-fit: cover;
  border: 2px solid #FFF;
}

.button--edit {
  background: none;
  border: 1px solid #F8F7FF;
  color: #F8F7FF;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10%;
}

.title {
  justify-self: start;
  margin-top: 30px;
}

.mat-headline-1 {
  font-weight: 700;
}

.mat-headline-2 {
  color: #FFF;
  font-weight: 600;
}

.mat-subheading-2 {
  color: #FFF;
  margin-left: 5%;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

mat-divider {
  padding: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 10px;
}

.img-sidenav {
  height: 30px;
  width: 30px;
}

.img-sidenav-container {
  justify-self: start;
  margin-top: 30px;
}

mat-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
}
