<div class="container container--dashboard">
  <mat-drawer-container>
    <app-navbar></app-navbar>
    <div class="container container--trade">
      <button type="button" mat-button (click)="drawer.toggle()">
        Abrir sidenav
      </button>
      <div class="title"><h1 class="mat-headline-1">TRADE</h1></div>
      <div class="container container--list">
        <app-list></app-list>
      </div>
    </div>
    <mat-drawer #drawer class="sidenav" mode="side">
      <div class="container container--sidenav">
        <h2 class="mat-headline-2">Trader Profile</h2>
        <img
          class="img img--profile"
          src="../../../../../assets/img/user.png"
          alt=""
        />
        <h3 class="mat-headline-2">Elon Musk</h3>
        <button mat-raised-button class="button button--edit">Edit Profile</button>
        <div class="container container--user">
          <h3 class="mat-headline-2">Account</h3>
          <h4 class="mat-subheading-2">▸ Money</h4>
          <h4 class="mat-subheading-2">▸ Assets Value</h4>
          <h3 class="mat-headline-2">Assets</h3>
          <h4 class="mat-subheading-2">▸ Bitcoin</h4>
          <h4 class="mat-subheading-2">▸ Ethereum</h4>
          <h4 class="mat-subheading-2">▸ Doge</h4>
          <h4 class="mat-subheading-2">▸ Ripple</h4>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
